<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ selectedPlace.title }}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="text-align: center;">
  <form (ngSubmit)="onBookPlace()" #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">İsim</ion-label>
            <ion-input
              type="text"
              ngModel
              name="first-name"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Soyisim</ion-label>
            <ion-input
              type="text"
              ngModel
              name="last-name"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Misafir Sayısı</ion-label>
            <ion-select [ngModel]="'2'" name="guest-number">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Tarihinden</ion-label>
            <ion-datetime
              display-format="DD MMM YYYY"
              picker-format="DD MMM YYYY"
              [min]="selectedPlace.availableFrom.toISOString()"
              [max]="selectedPlace.availableTo.toISOString()"
              [ngModel]="startDate"
              name="date-from"
              required
              #startDateCtrl="ngModel"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3">
          <ion-item>
            <ion-label position="floating">Tarihine</ion-label>
            <ion-datetime
              display-format="DD MMM YYYY"
              picker-format="DD MMM YYYY"
              [min]="startDateCtrl.value"
              [max]="selectedPlace.availableTo.toISOString()"
              [ngModel]="endDate"
              name="date-to"
              required
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button
            center
            color="primary"
            expand="block"
            type="submit"
            [disabled]="!f.valid || !datesValid()"
          >
            Rezerve
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
